* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-container{
    min-height: calc(100vh - 136px);
    /*background: #eff4fd;*/
}

h1{
    text-align: center;
}

.section-box{
    align-items: center;
}

.menu-bar{
    background: linear-gradient(-45deg, #BA38B8, #23a6d5);
    animation: gradient 15s ease infinite;
}

.teacher-box{
    background: linear-gradient(-45deg, #BA38B8, #23a6d5);
    animation: gradient 15s ease infinite;
}

.student-box{
    background: linear-gradient(-45deg, #BA38B8, #23a6d5);
    animation: gradient 15s ease infinite;
}

.file-box{
    /*background: yellow;*/
}

/*.warning{*/
/*    position: relative;*/
/*    margin-top: -37px;*/
/*}*/

/*.btn{*/
/*    background: #BA38B8;*/
/*    color: white;*/
/*    font-size: 20px;*/
/*}*/
.btn{
    background: #ADD8E6;
    color: black;
    font-size: 20px;
}

.title h3{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 75px;
    color: #b93bb7;
}

.wrap-box-text{
    background: linear-gradient(-45deg, #BA38B8, #23a6d5);
    animation: gradient 15s ease infinite;
    font-size: 20px;
}

.wrap-box-text-link{
    font-size: 20px;
}

.card{
    background: linear-gradient(-45deg, #BA38B8, #23a6d5);
    animation: gradient 15s ease infinite;
    width: 100%;
}

.card p{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.card input{
    margin-bottom: 40px;
    height: 35px;
}

.warning{
    position: relative;
    margin-top: -37px;
}

footer{
    height: 80px;
    text-align: center;
    /*line-height: 80px;*/
}