<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Sign up or in</title>-->
<!--    <link rel="stylesheet" href=""  th:href="@{/style.css}">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<section id="banner">-->
<!--&lt;!&ndash;    <img src="/static/images/logo.png" class="logo">&ndash;&gt;-->
<!--    <div class="banner-text">-->
<!--        <h1 class="banner-text">Learning Management System</h1>-->
<!--        <p class="banner-text">Make money or Save money</p>-->
<!--        <div class="banner-btn">-->
<!--            <a th:href="@{/oauth2/authorization/google}"><span></span>Sign up with goggle</a>-->
<!--            <a th:href="@{/oauth2/authorization/google}"><span></span>Log in with goggle</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->