<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Believer</title>
    <link rel="stylesheet" th:href="@{/role.css}">
</head>

<body>

    <div class="back_img">

        <div class="box">

           <div class="headtext">
            <h1>What is your role?</h1>
            <div class="link">
            <a th:href="@{/student}">Student</a>
            <a th:href="@{/teacher}">Teacher</a>
        </div>
           </div>

        </div>

    </div>

</body>

</html>