<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Believer</title>
    <link rel="stylesheet" th:href="@{/student.css}">
</head>

<body>

    <div class="back_img">

        <div class="box">

            <div class="headtext">
                <h1>Believer</h1>
                <form th:action="@{/teacherData}" th:object="${teacher}"
                      method="post" enctype="multipart/form-data">
                    <div class="align">
                        <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"
                                required style="display: none;"> </p>
                        <p><label for="file" style="cursor: pointer;">
                                <img src="edit.png" class="icon" alt="">
                            </label></p>
                        <img class="out_img" id="output" />

                    </div>

                    <div class="align2">
                        <input type="text" class="myBox" placeholder="Faculty initial" name="initial" required>
                        <button type="submit">
                            <img src="arrow-right.png" alt="" class="submit_btn">
                        </button>
                    </div>
                </form>
            </div>

        </div>

    </div>

    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

</body>

</html>